<%- include ("../partials/header") %>


<div class ="container">
	<header class = "jumbotron">
		<div class = "container">
			<h1>
				Welcome to Movie Cohort
			</h1>

			<p>
				View movies recommended by your friends
			</p>
			<p>
				<a class = "btn btn-primary btn-lg" href="/movies/new">Add New Movie</a>
			</p>
		</div>
	</header>

	<div class="row text-center">
			<% movies.forEach(function(movie){ %>
				<div class = "col-md-3 col-sm-6">
					<div class = "thumbnail">
						<img src = "<%= movie.image %>">
						<div class = "caption">
							<h4>
								<%= movie.name %>
							</h4>
						</div>
						<p>
							<a href="/movies/<%= movie._id%>" class="btn btn-primary">More Info</a>
						</p>
					</div>
				</div>

			<% }); %>
	</div>

</div>


<%- include ("../partials/footer") %>